In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\PC2\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
pd = pd.read_csv('./fact.csv')

C:\Users\PC2\AppData\Local\Temp\ipykernel_22220\1118722517.py:1: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  pd = pd.read_csv('./fact.csv')

In [5]:
pd.head(2)

,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,...,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,spectator,avg_ticket_price,match_expenses,tourney
0,270,112411,NaN,NaN,Doug Smith,U,NaN,AUS,NaN,110196,...,NaN,NaN,NaN,NaN,NaN,NaN,10006.0,122.32,989177.0,0
1,271,126914,NaN,NaN,Louis Pretorius,R,NaN,RSA,NaN,209536,...,NaN,NaN,NaN,NaN,NaN,NaN,13543.0,174.07,836293.2,0

In [6]:
pd.shape

(941649, 47)

In [8]:
pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941649 entries, 0 to 941648
Data columns (total 47 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   match_num           941649 non-null  int64
 1   winner_id           941649 non-null  int64
 2   winner_seed         399896 non-null  float64
 3   winner_entry        156231 non-null  object
 4   winner_name         941649 non-null  object
 5   winner_hand         922284 non-null  object
 6   winner_ht           652975 non-null  float64
 7   winner_ioc          941641 non-null  object
 8   winner_age          929026 non-null  float64
 9   loser_id            941649 non-null  int64
 10  loser_seed          205049 non-null  float64
 11  loser_entry         277467 non-null  object
 12  loser_name          941649 non-null  object
 13  loser_hand          920820 non-null  object
 14  loser_ht            542290 non-null  float64
 15  loser_ioc           941568 non-null  object
 16  loser_age           914622 non-null  float64
 17  score               941495 non-null  object
 18  best_of             941649 non-null  int64
 19  round               941649 non-null  object
 20  minutes             207146 non-null  float64
 21  w_ace               214170 non-null  float64
 22  w_df                214169 non-null  float64
 23  w_svpt              214169 non-null  float64
 24  w_1stIn             214169 non-null  float64
 25  w_1stWon            214169 non-null  float64
 26  w_2ndWon            214169 non-null  float64
 27  w_SvGms             214167 non-null  float64
 28  w_bpSaved           214169 non-null  float64
 29  w_bpFaced           214169 non-null  float64
 30  l_ace               214169 non-null  float64
 31  l_df                214170 non-null  float64
 32  l_svpt              214169 non-null  float64
 33  l_1stIn             214169 non-null  float64
 34  l_1stWon            214169 non-null  float64
 35  l_2ndWon            214169 non-null  float64
 36  l_SvGms             214167 non-null  float64
 37  l_bpSaved           214169 non-null  float64
 38  l_bpFaced           214169 non-null  float64
 39  winner_rank         833033 non-null  float64
 40  winner_rank_points  764735 non-null  float64
 41  loser_rank          764267 non-null  float64
 42  loser_rank_points   704573 non-null  float64
 43  spectator           941649 non-null  float64
 44  avg_ticket_price    941649 non-null  float64
 45  match_expenses      941649 non-null  float64
 46  tourney             941649 non-null  int64
dtypes: float64(32), int64(5), object(10)
memory usage: 337.7+ MB

In [9]:
pd.describe()

,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,loser_age,best_of,...,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,spectator,avg_ticket_price,match_expenses,tourney
count,941649.000000,941649.000000,399896.000000,652975.000000,929026.000000,941649.000000,205049.000000,542290.000000,914622.000000,941649.000000,...,214169.000000,214169.000000,833033.000000,764735.000000,764267.000000,704573.000000,941649.000000,941649.000000,9.416490e+05,941649.000000
mean,86.320185,115160.853737,4.827038,184.028200,24.057836,117657.922751,5.576092,183.930321,23.673184,3.144134,...,4.618960,8.507702,451.007491,305.784255,563.239340,214.971227,3252.952971,48.708648,2.160972e+05,16746.509850
std,142.004429,29304.075210,3.734860,7.910491,3.978166,31299.789465,4.047703,8.095944,4.183650,0.517494,...,3.121117,3.840034,372.521627,817.279448,456.506158,503.798770,4858.943251,62.234807,5.012559e+05,9084.535759
min,1.000000,100001.000000,1.000000,3.000000,14.000000,100001.000000,1.000000,3.000000,14.000000,1.000000,...,-6.000000,0.000000,1.000000,0.000000,1.000000,0.000000,10.000000,0.000000,0.000000e+00,0.000000
25%,11.000000,102610.000000,2.000000,180.000000,21.100000,102854.000000,3.000000,180.000000,20.500000,3.000000,...,2.000000,6.000000,153.000000,27.000000,183.000000,12.000000,88.000000,2.750000,2.189000e+02,8875.000000
50%,22.000000,104527.000000,4.000000,183.000000,23.600000,104903.000000,5.000000,183.000000,23.200000,3.000000,...,4.000000,8.000000,377.000000,84.000000,458.000000,56.000000,1220.000000,24.250000,1.409700e+04,17083.000000
75%,103.000000,106329.000000,7.000000,188.000000,26.500000,111797.000000,7.000000,188.000000,26.200000,3.000000,...,6.000000,11.000000,642.000000,248.000000,843.000000,210.000000,2471.000000,56.770000,6.017670e+04,24655.000000
max,1701.000000,213703.000000,35.000000,211.000000,69.522245,213704.000000,38.000000,211.000000,69.839836,5.000000,...,28.000000,38.000000,2257.000000,16950.000000,2267.000000,16950.000000,23000.000000,300.000000,3.999959e+06,31377.000000

In [13]:
#unique values
pd['winner_id'].nunique()

18938

In [10]:
# Check for missing values
pd.isnull().sum()

match_num                  0
winner_id                  0
winner_seed           541753
winner_entry          785418
winner_name                0
winner_hand            19365
winner_ht             288674
winner_ioc                 8
winner_age             12623
loser_id                   0
loser_seed            736600
loser_entry           664182
loser_name                 0
loser_hand             20829
loser_ht              399359
loser_ioc                 81
loser_age              27027
score                    154
best_of                    0
round                      0
minutes               734503
w_ace                 727479
w_df                  727480
w_svpt                727480
w_1stIn               727480
w_1stWon              727480
w_2ndWon              727480
w_SvGms               727482
w_bpSaved             727480
w_bpFaced             727480
l_ace                 727480
l_df                  727479
l_svpt                727480
l_1stIn               727480
l_1stWon              727480
l_2ndWon              727480
l_SvGms               727482
l_bpSaved             727480
l_bpFaced             727480
winner_rank           108616
winner_rank_points    176914
loser_rank            177382
loser_rank_points     237076
spectator                  0
avg_ticket_price           0
match_expenses             0
tourney                    0
dtype: int64